# Dependencies
node_modules/

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

src/**/*.js
src/**/*.map

src/test/
dist/test
/api
/client
/test
/types
/index.js
/index.d.ts

dist/**/*.map

# Optional npm cache directory
.npm
test.png

tsconfig.tsbuildinfo
yarn-error.log
