# Dependencies
node_modules/

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

src/**/*.js
src/**/*.map

test/
dist/test

dist/**/*.map

# Optional npm cache directory
.npm