# Dependencies
node_modules/

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

src/**/*.js
src/**/*.map
dist/test
/v2
/v3
/index.js
/index.d.ts

dist/

# Optional npm cache directory
.npm
test.png

tsconfig.tsbuildinfo
yarn-error.log
